.brand {
    /* font-family: 'Poppins', sans-serif;  */
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

.navbar-menu {
    font-family: 'Poppins', sans-serif; 
}

.navbar{
    background-color: #e9edc9;
}

/* .brand, navbar-item{
    color: #3a5a40;
} */

.box {
    background-image: url('./assets/img/dark-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    font-size: 120px;
    color: #e9edc9;
    font-family: 'Caveat', cursive;
    /* border-bottom: 10px double #ACC8A6; */
}

.becca {
    color: #dfbfa6;
}

.summary {
    color: #ACC8A6;
    font-size: 20px;
}

.description {
    color: #9ca68a;
}

.dot {
    padding-left: 10px;
    padding-right: 10px;
}

ion-icon {
    color: #dfbfa6;
    font-size: 30px;
    padding: 10px;
  }